<a href="https://colab.research.google.com/github/adas754/leetcode/blob/main/leetcode_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Two Sum (#1)

In [ ]:
def two_sum(nums,target):
  for i in range(len(nums)):
    for j in range(i+1,len(nums)):
      if(i!=j and nums[i]+nums[j]==target):
        return [i,j]
nums = [3,3]
target = 6
two_sum(nums,target)

[0, 1]

# 2. Palindrome Number (#9)

In [ ]:
def is_palin(x):
  x=str(x)
  return x== x[::-1]
is_palin(10)

False

# 3. Roman to Integer (#13)

In [ ]:
def roman_to_int(s):
    roman_to_int = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
    total = 0
    prev = 0

    for i in reversed(s):
        value = roman_to_int[i]
        if value >= prev:
            total += value
        else:
            total -= value
        prev = value

    return total
s = "LVIII"
print(roman_to_int(s))

58

# 4. Merge Sorted Array (#88)

In [ ]:
def merge_sorted(n1, n2, m, n):
    del n1[m:]      # Remove the extra zeros
    n1.extend(n2)    # Add elements from n2
    n1.sort()        # Sort the combined list
nums1 = [0]
m = 0
nums2 = [1]
n = 1
merge_sorted(nums1, nums2, m, n)
print(nums1)

[1]

# 6. Maximum Subarray (#53)

In [ ]:
def max_subarray(num):
  mx=current=num[0]
  for i in range(1,len(num)):
    current=max(num[i],current+num[i])
    if current>mx:
      mx=current
  return mx
nums = [5,4,-1,7,8]
max_subarray(nums)

23

# 7. Plus One

In [ ]:
def plus(num):
  for i in range(len(num)-1,-1,-1):
    if num[i]==9:
      num[i]=0
    else:
      num[i]+=1
      return num
  return num+[1]
digits = [1,2,3]
plus(digits)

[1, 2, 4]

# 8. Climbing Stairs (#70)

In [3]:
def climb(n):
  if n==1:
    return 1
  if n==2:
    return 2
  return climb(n-1)+climb(n-2)
  return climb(n)
n=2
climb(n)

2

# 9. Single Number (#136)

In [ ]:
def single(num):
  a=0
  for x in num:
    a^=x
  return a
num=[1,2,1]
single(num)

2

# 10. Check if Word Equals Summation of Two Words (#1880)

In [6]:
def isequal(first,second,target):
  x=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
  a=''
  for i in first:
    a+=str(x.index(i))
  b=''
  for i in second:
    b=b+str(x.index(i))
  c=''
  for i in target:
    c=c+str(x.index(i))
  if int(a)+int(b)==int(c):
    return True
  return False
firstWord = "aaa"
secondWord = "a"
targetWord = "aab"
isequal(firstWord,secondWord,targetWord)

False

# 11. Build Array from Permutation(#1920)

In [8]:
def buildarray(nums):
  return [nums[i]for i in nums]
nums = [5,0,1,2,3,4]
buildarray(nums)

[4, 5, 0, 1, 2, 3]

# 12. Valid Parentheses (#20)

In [13]:
def isvalid(s):
  stack=[]
  for c in s:
    if c in '({[':
      stack.append(c)
    else:
      if not stack or \
      (c==')'and stack[-1]!='(')or \
      (c=='}' and stack[-1]!='{')or \
      (c==']' and stack[-1]!='['):
            return False
      stack.pop()
  return not stack

s = "([])"
isvalid(s)

True